body {
  font-size: 100%;
}

.filelist {
  background-color: #ededed;
  margin: auto;
  height: 500px;
  width: 70%;
  overflow-y: scroll; 
  white-space: nowrap;
  border: 2px solid black;
  padding: 1%;
}

.welcomescreen {
  margin-top: 15%;
  width: 100%;
  text-align: center;
}

.homescreen {
  display: flex;
  margin: 0;
  padding: 0;
}

.homescreencenter {
  display: inline-block;
  width: 85%
}

.homescreenheader {
  display: flex;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0;
}

.homescreentitle {
  margin-left: 15%;
  margin-right: 52%;
}

.querycontrols {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.sidebar {
  display: inline-block;
  width: 15%;
  height: 100vh;
  color: white;
  background-color: rgb(74, 74, 223);
  padding-top: 2%;
  padding-left: 1%;
}

a.sidebarlink {
  color: white;
  text-decoration: none;
}

a.sidebar:hover {
  color: gray;
}

h1.sidebarlogo {
  font-size: 2.0em;
}

h2.sidebarlogo {
  font-size: 1.2em;
  margin-bottom: 0;
}

.analyzescreen {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.analyzescreencenter {
  margin: auto;
  width: 85%;
}

.analyzescreenheader {
  display: flex;
  align-items: center;
  padding-left: 2%;
  height: 10%;
  color: white;
  background-color: rgb(74, 74, 223);
}

.analyzescreensubtitle {
  margin-top: 4%;
}

.analyzescreenheadertitle {
  padding-right: 70%;
}

.deviantsharinglist {
  background-color: rgb(74, 74, 223);
  margin: auto;
  width: 100%;
  height: 800px;
  border-radius: 25px;
}

.redundantsharinglist {
  background-color: rgb(74, 74, 223);
  margin: auto;
  width: 100%;
  height: 800px;
  border-radius: 25px;
}

.sharingdifferenceslist {
  background-color: rgb(74, 74, 223);
  margin: auto;
  width: 100%;
  height: 800px;
  border-radius: 25px;
}

.exitbutton {
  background:none;
}

.exitbutton:hover{
  filter: invert(30%);
}
